<%-include('header');-%>
<ul style="text-align: center;">
    <li>My name is : MD Arif</li>
    <li>My father name is : Jmaluddin</li>
    <li>I live in gurugram haryana </li>
    <li>I loves to play football</li>
</ul>


<%-include('footer');-%>